* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: #031223;
	font-family: "Inter", sans-serif;
}

body {
	background-color: #fff6f9;
}

h1,
h2 {
	font-family: "Boska";
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}

.nav {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.hero {
	padding: 2rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 120px);
}

.puzzle {
	position: relative;
	width: 240px;
	height: 240px;
}

.puzzle__empty {
	position: absolute;
	top: 0;
	right: 0;
	height: 120px;
	filter: grayscale(100%);
}

.hero__content {
	text-align: center;
	width: 500px;
	margin-top: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__title {
	font-size: 32px;
	font-weight: 900;
}

.hero__subtitle {
	font-size: 24px;
	font-weight: 400;
	margin-top: 1rem;
}

.hero__image {
	filter: grayscale(100%);
	height: 120px;
	margin-top: 3rem;
	width: 162px;
	cursor: grab;
}

.hero__image:active {
	cursor: grabbing;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0.25;
	}
	50% {
		opacity: 1;
	}
}

.hero__bottom-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	margin-top: auto;
	animation: fadeInOut 3s ease-in-out infinite;
}

.projects {
	display: flex;
	margin-top: 3rem;
	justify-content: space-between;
	gap: 5rem;
}

.project {
	width: calc(100% / 3);
	list-style-type: none;
}

.project__image-wrapper {
	background-color: #ffd8c2;
	width: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.project__image {
	width: 80%;
	aspect-ratio: 4 / 3;
	border-radius: 25px;
}

.project__title {
	font-size: 18px;
}

.project__tags {
	font-style: italic;
	font-size: 14px;
	margin-top: 0.5rem;
}

.project__description {
	margin-top: 1rem;
}

.section__title {
	font-family: "Inter";
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 400;
}
