* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Inter", sans-serif;
}

:root {
	--colour-1: #fff0d1;
	--colour-2: #a04747;
	--colour-3: #3b3030;
}

body {
	background-color: #fcf9f5;
	color: var(--colour-3);
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2 {
	font-family: "Boska";
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: 0 2rem;
}

.nav {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.hero {
	padding: 3rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 120px);
}

.hero.active {
	min-height: auto;
}

#projects-section {
	padding-top: 6rem;
}

.hero.active .hero__bottom-text {
	display: none;
}

.puzzle {
	position: relative;
	width: 240px;
	height: 240px;
}

.puzzle__empty {
	position: absolute;
	top: 0;
	right: 0;
	height: 120px;
	filter: grayscale(100%);
}

.hero__content {
	text-align: center;
	width: 500px;
	margin-top: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__title {
	font-size: 32px;
	font-weight: 900;
	opacity: 0;
}

.hero__subtitle {
	font-size: 24px;
	font-weight: 400;
	margin-top: 1rem;
	opacity: 0;
}

.hero__image {
	filter: grayscale(100%);
	height: 120px;
	margin-top: 3rem;
	width: 162px;
	cursor: grab;
	opacity: 0;
}

.hero__image:active {
	cursor: grabbing;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0.25;
	}
	50% {
		opacity: 1;
	}
}

.hero__bottom-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	margin-top: auto;
	/* animation: fadeInOut 3s ease-in-out infinite; */
	opacity: 0;
}

.projects {
	display: flex;
	margin-top: 3rem;
	gap: 4rem 2rem;
	flex-wrap: wrap;
}

.project {
	width: calc((100% - 4rem) / 3);
	list-style-type: none;
}

.project__tag {
	position: absolute;
	top: 1rem;
	right: 1rem;

	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.5rem 0.75rem;
	font-size: 12px;
}

.project__image-wrapper {
	background-color: #fbf2df;
	width: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
	position: relative;
	border-radius: 15px;
}

.project__image-wrapper--blue {
	background-color: rgba(0, 131, 183, 0.1);
}

.project__image-wrapper--pink {
	background-color: rgba(247, 54, 102, 0.1);
}

.project__image-wrapper--purple {
	background-color: rgba(99, 84, 193, 0.1);
}

.project:hover .project__image {
	width: 90%;
}

/* .project:hover .project__image-wrapper::after {
	opacity: 1;
} */

.project__image-wrapper::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.689);
	opacity: 0;
	transition: 0.2s ease-in-out opacity;
}

.project__image {
	width: 85%;
	aspect-ratio: 16 / 9;
	border-radius: 0px;
	transition: 0.2s width ease-in-out;
}

.project__title {
	font-size: 18px;
}

.project__tags {
	font-style: italic;
	font-size: 14px;
	margin-top: 0.5rem;
}

.project__description {
	padding-top: 1rem;
}

.section__title {
	font-family: "Inter";
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 400;
}

.about-section {
	/* background-color: var(--colour-2);
	color: white; */
	padding: 10rem 0;
	/* padding-top: 15rem; */
	position: relative;
	margin-top: 0rem;
}

.about-section__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 8rem;
}

.about-section__right {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
}

.about-section__info {
	text-align: right;
}

.about-section__info p {
	line-height: 170%;
	font-size: 14px;
}

.about-section__heading {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 0.5rem;
}

/* .section__about-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fff6f9;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
} */

.about {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.about__content {
	width: 65%;
}

.about__content p {
	font-size: 18px;
	margin-bottom: 2rem;
	line-height: 185%;
	color: #695e5e;
}

.contact-section {
	background-color: var(--colour-3);
	padding: 6rem 0;
	color: var(--colour-1);
	/* padding-top: 15rem; */
	position: relative;
}

.contact-section__title {
	font-size: 96px;
}

.contact-links {
	display: flex;
	gap: 0.75rem;
	margin-top: 2rem;
}

.contact-link {
	list-style-type: none;
}

.contact-link__link {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	font-size: 18px;
	border: 1px solid var(--colour-1);
	border-radius: 50px;
	padding: 0.75rem 1rem;
}

.contact-link__link i {
	font-size: 20px;
}

/* .contact-section__circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: var(--colour-2);
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
} */

.contact-section__image {
	width: 375px;
	opacity: 0.3;
}

.contact-section__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section {
	display: none;
}
